*{
    scroll-behavior: smooth;
}



.herosection{
    background-image: url(Assets/businessman-using-digital-tablet.jpg);
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: gray;
    background-attachment: fixed;
}


.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity:1;
    
}