@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
    line-height: 1.8;
    position:relative;
}


body {
    margin:0;
    padding:0;
    background-color: var(--light-gray);
    min-height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin:auto;
    padding-right: 5rem;
    bottom:0;
    position:absolute;
  
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    max-width:90%;
    max-height:70%;
    margin:auto;
}

.gridwrapper {
    display:grid;
    background-color: var(--white);
    margin:50px auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 1fr;
    border-radius: 25px;
    max-height: 80vh;
    max-width: 50vh;
            
}    

.imagewrap {
    padding:3%; 
}

img{
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius: 25px;
}

.textwrap {
    padding:3%;
}

h2{
    font-weight: 700;
    color:var(--dark-blue);
}

P{
    padding:2% 0;
    font-weight: 500;
    color:var(--grayishblue);
}

@media only screen and (min-width:768px){
    h2{
        font-size: 1.6rem;
    }
    p{
        font-size: 1.3rem;
    }}

@media only screen and (max-height:768px){
    h2{ font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
}